.App{
    height: 100vh;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
*{
    margin:0;
    padding: 0;
}
.app__body{
    background: url(https://www.pngkey.com/png/full/859-8598072_picture-freeuse-library-silhouette-at-getdrawings-cell.png) no-repeat 50%;
    width: 249px!important;
    height: 400px!important;
    padding: 74px;
    background-size: contain;
}

.app__background{
    background: #fff;
    height: 400px;
    width: 250px;
}
/* .MuiSvgIcon-root{
    color: #fff;;
} */
